PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/kikvidze_service_manager
ADMIN_LOGIN=admin
ADMIN_PASSWORD=change-me
SESSION_SECRET=dev-secret-min-32-chars!!!!!!!!!!!!
CORS_ORIGIN=http://localhost:3000
